.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(47, 46, 46);
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  font-family: fantasy; 
  color: rgb(174, 18, 10);
  font-size: 70px;
  font-weight: 1200;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
  text-align: center;
  background-color: rgb(31, 30, 30);
  border-bottom: 5px solid rgb(174, 18, 10); 
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

