.single-movie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  height: auto;
  width: 100vw;
}

.right-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  z-index: 1;
  padding-right: 25px;
}

.left-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 16vw;
  height: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  z-index: 1;
}

.middle-container {
  width: 70vw;
  height: auto;
}

.movie-title {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  color: rgb(247, 243, 243);
  margin: auto;
  max-width: 63vw;
  white-space: nowrap;
  overflow: visible;
}

.movie-tagline {
  font-size: 30px;
  color: rgb(247, 243, 243);
}

.movie-image {
  scale: 100%;
}

.subheader {
  font-size: 30px;
  margin-bottom: 20px;
  width: 63vw;
}

.details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 65px;
  padding-top: 10px;
}

.bullet {
  margin: 10px;
}

.movie-overview {
  text-align: left;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .movie-overview,
  .movie-genre,
  .single-movie-container {
    flex-direction: column;
  }

  .movie-overview {
    width: 500px;
  }

  .right-container {
    width: 100%;
  }

  .movie-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subheader {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movie-image {
    scale: 70%;
  }

  .movie-tagline {
    margin-top: 0px;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-container {
    width: 85%;
  }

  .single-movie-container {
    width: 85%;
  }

  @media screen and (max-width: 625px) {
    .movie-overview,
    .movie-genre,
    .single-movie-container {
      flex-direction: column;
    }

    .movie-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 33px;
    }

    .image-container {
      height: 200px;
    }

    .movie-overview {
      width: 85%;
    }

    .right-container {
      width: 85%;
    }

    .subheader {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 19px;
    }

    .movie-image {
      scale: 40%;
    }

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .home-button {
      display: none;
    }

    .header-title {
      width: 85%;
      justify-content: center;
      align-items: center;
    }

    .tomato-guy {
      scale: 90%;
    }

    .single-movie-container {
      width: 100%;
    }

    .image-container {
      height: 200px;
    }

    .movie-tagline {
      margin-top: 0px;
    }

    .movie-overview-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
