/* * {
  border: 3px solid rgb(197, 16, 16);
} */

.single-movie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.right-container {
  /* display: flex; */
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  z-index: 1;
  padding-right: 25px;
}

.left-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 16vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  z-index: 1;
}

.movie-title {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  color: rgb(247, 243, 243);
  margin: auto;
  max-width: 63vw;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: visible; /* Allow the text to overflow the container to the right */
}

.movie-tagline {
  font-size: 30px;
  color: rgb(247, 243, 243);
  margin-bottom: 100px;
}

.movie-image {
  /* display: flex; 
  align-items: center;
  justify-content: center; */
  scale: 70%;
}

.subheader {
  display: flex;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  margin: 0;
  border: 0;
  margin-bottom: 20px;
}

.details {
  width: 50vw;
}

.bullet {
  margin: 10px;
}

.movie-overview {
  text-align: left;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

/*first breakpoint @ 95vw */
@media screen and (max-width: 95em) {
  .movie-overview,
  .movie-genre,
  .single-movie-container {
    flex-direction: column;
  }

  .home-button {
    display: none;
  }

  .right-container {
    width: 55vw;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }

  .single-movie-container,
  .movie-title,
  .subheader,
  .movie-image,
  .movie-title-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    max-width: 100%;
  }

  .movie-image {
    display: flex;
    scale: 70%;
  }

  .header-title {
    padding-left: 0;
    padding-right: 0;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*second breakpoint @ 35vw */

@media screen and (max-width: 33em) {
  .movie-overview,
  .movie-genre,
  .single-movie-container {
    flex-direction: column;
  }
  .home-button {
    display: none;
  }

  .right-container {
    width: 55vw;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }

  .movie-title,
  .subheader,
  .movie-tagline,
  .movie-image,
  .movie-tagline-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
  }

  .movie-image {
    display: flex;
    scale: 32%;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50%;
  }

  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .tomato-guy {
    display: flex;
    justify-content: center;
    scale: 90%;
  }

  .movie-title-container {
    max-width: 100%;
    width: 100%;
  }

  .movie-title {
    font-size: 30px;
  }

  .details,
  .movie-genre {
    font-size: 20px;
  }

  .movie-overview {
    font-size: 20px;
    max-height: 100%;
    overflow: hidden;
    padding-top: 60px;
  }

  .single-movie-container {
    height: 100%;
  }

  .movie-tagline {
    max-height: 50px;
  }

  .right-container {
    padding-right: 3px;
  }
}
